@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-family: "Inter", sans-serif;
}

#sql-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sql-form, #sql-table {
    height: 100%;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
}

#sql-form {
    background-color: coral;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sql-form form {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

#sql-form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid;
}

#sql-form form button {
    width: 50%;
    padding: 10px;
    border: 1px solid;
    color: white;
    cursor: pointer;
}

#sql-form form button:hover {
    background-color: dodgerblue;
}

#sql-form form select {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid;
}

#sql-table {
    width: 75%;
    text-align: center;
}



.center {
    margin: 0 auto !important;
    width: 93%;
    max-height: 85vh;
}

td {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th:nth-child(7), td:nth-child(7) {
    overflow: visible;
}

th:nth-child(2), td:nth-child(2),
th:nth-child(4), td:nth-child(4)
{
    max-width: 35px;
}

.update-input {
    margin: 0 !important;
    text-align: center;
}

td input {
    width: 80%;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

/****NO SQL TABLE***/

#no-sql-section {
    height: 100vh;
    width: 100%;
    display: flex;
}

#no-sql-form {
    width: 25%;
    height: 100%;
    background-color: coral;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#no-sql-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

#no-sql-form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid;
}

#no-sql-form select {
    width: 240px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid;
}

#textarea-desc {
    margin-bottom: 5px;
}

#descripcion {
    width: 220px;
    margin: 10px;
}

#descripcion:focus {
    outline: none;
    box-shadow: none;
}

#reviews {
    width: 75%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

#reviews button {
    margin-top: 10px;
}